<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百望山秋游--365每天记</title>
    <link rel="stylesheet" href="../css/common.css">
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header-load"></div>
    <div class="main clearfix">
        <section class="article-detail">
            <article class="article-content-wrap">
                <div class="article-title-wrap">
                    <div class="note-date-label">
                        <strong class="note-date-text">DAY</strong>
                        <em class="note-date-days">212</em>
                    </div>
                    <div class="article-title-detail">
                        <h1 class="article-title">百望山秋游</h1>
                        <div class="article-info">
                            <a href="#" class="article-author" title="fond">fond</a>
                            <span class="article-report-from">发表于</span>
                            <time class="article-time">2012-11-08 21:09</time>
                        </div>
                    </div>
                </div>
                <div class="article-content">
                    <img src="../images/detail_img_article.jpg" alt="百望山秋游" class="article-img">
                    <p>今天终于逮到机会拍到了小区附近某身材滚圆的三只，嗯哼~</p>
                    <p>额，对于起名字这种事情我是最没创意的了，总不能像志玲姐一样说，就叫它萌萌吧> <</p>
                    <p>所以还是暂名为小黑，小黄，小灰吧……喵星人们表怪我这地球人木有创意啦，咱们是简约美！</p>
                    <p>啦啦啦啦啦啦</p>
                    <p>那是一没什么人走的路，却有高耸的梧桐，守护在两边。那自然就有的红黄层次，在雨中更加的绚烂。</p>
                    <p>空气凉凉的，带着水，却觉得更加的干净和透彻。我用塑料袋包住了相机，却包住不住对钟山景区的喜
                    爱。十公里，不知不觉。</p>
                    <p>空气凉凉的，带着水，却觉得更加的干净和透彻。我用塑料袋包住了相机，却包住不住对钟山景区的喜
                    爱。十公里，不知不觉。</p>
                    <p>空气凉凉的，带着水，却觉得更加的干净和透彻。我用塑料袋包住了相机，却包住不住对钟山景区的喜
                    爱。十公里，不知不觉。</p>
                    <p>今天终于逮到机会拍到了小区附近某身材滚圆的三只，嗯哼~</p>
                    <p>额，对于起名字这种事情我是最没创意的了，总不能像志玲姐一样说，就叫它萌萌吧> <</p>
                    <p>所以还是暂名为小黑，小黄，小灰吧……喵星人们表怪我这地球人木有创意啦，咱们是简约美！</p>
                    <p>啦啦啦啦啦啦</p>
                    <div class="article-label-wrap">
                        <a href="#" class="article-label" title="小灰灰">#小灰灰</a>
                        <a href="#" class="article-label" title="小灰灰">#小灰灰</a>
                        <a href="#" class="article-label" title="小灰灰">#小灰灰</a>
                    </div>
                    <a href="#" class="article-icon-zan clearword" title="赞一个">赞一个</a>
                    <a href="#" class="article-icon-other clearword disable" title="分享">分享</a>
                </div>
            </article>
            <div class="article-leave-message">
                <h2 class="article-message-title">评论</h2>
                <textarea class="comment-text" name="" id="" placeholder="写评论吧"></textarea>
                <div class="comment-btn-wrap">
                    <button class="comment-btn" type="button" title="评论">评论</button>
                </div>
                <div class="comment-load"></div>
            </div>
        </section>
        <section class="article-aside">
            <aside class="article-author-info">
                <div class="clearfix">
                    <img src="../images/home_img_head.jpg" alt="头像" width="90" height="90" class="head-sculpture">
                    <a class="username" href="myhome.html" title="mayxiaofang">mayxiaofang</a>
                    <p class="detail-days">123个日子</p>
                    <p class="user-info-guanzhu">
                        <a href="#" class="guanzhu" title="关注他">关注他</a>
                        <a href="#" class="quxiao-guanzhu hide" title="取消关注">取消关注</a>
                    </p>
                </div>
                <p class="article-user-description">梦想照进现实,这是一个说明说明说明说明说明说明说明</p>
                <p class="usercity">北京</p><p class="device">使用SD markii</p>
            </aside>
            <aside class="last-year">
                <h2 class="all-hot-title">去年今日</h2>
                <div class="like-load"></div>
            </aside>
            <aside class="last-prev-year">
                <h2 class="all-hot-title">前年今日</h2>
                <div class="like-load"></div>
            </aside>
        </section>
    </div>
    <div class="footer-load"></div>
    <script src="../js/jquery-1.10.1.min.js"></script>
    <script src="../js/temp-ajax-load.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>