<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页--365每天记</title>
    <link rel="stylesheet" href="../css/common.css">
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <![endif]-->
</head>
<body class="index-body-bg">
    <div class="container-index">
        <!--header开始-->
        <header>
        <div class="header-index clearfix">
            <h1 class="logo-index">
                <a href="index.html" title="logo"><img src="../images/header-logo.png" alt="365Logo"></a>
                <span class="logo-slogan">请看我漂亮的坚持！</span>
            </h1>
            <div class="login clearfix">
                <a href="#" title="登录" class="weblogin">登录:</a>
                <a href="#" title="sina" class="login-sina">新浪登录</a>
                <a href="#" title="dou" class="login-dou">豆瓣登录</a>
            </div>
        </div>
        </header>
        <!--header结束-->
        <!--main开始-->
        <div class="main-index clearfix">
            <div class="main-img">
                <ul class="index-img-list clearfix">
                    <li class="index-img-item">
                        <a href="#" title="" target="_blank"><img src="../images/index-mainimg_pic.gif" alt="365图片"></a>
                        <p class="main-wz">想要拍出更好的照片，就要走得更远离得更近，<br>积累最丰富的生活想最简单的道理。</p>
                        <div class="main-img-info">
                            <span class="date">DAY 321</span>
                            <img src="../images/photo_03.png" alt="photo">
                            <a class="author" href="#">BY 麦子老师3</a>    
                        </div>
                    </li>
                    <li class="index-img-item">
                        <a href="#" title="" target="_blank"><img src="../images/index-mainimg_pic.gif" alt="365图片"></a>
                        <p class="main-wz">想要拍出更好的照片，就要走得更远离得更近，<br>积累最丰富的生活想最简单的道理。</p>
                        <div class="main-img-info">
                            <span class="date">DAY 321</span>
                            <img src="../images/photo_03.png" alt="photo">
                            <a class="author" href="#">BY 麦子老师2</a>    
                        </div>
                    </li>
                    <li class="index-img-item">
                        <a href="#" title="" target="_blank"><img src="../images/index-mainimg_pic.gif" alt="365图片"></a>
                        <p class="main-wz">想要拍出更好的照片，就要走得更远离得更近，<br>积累最丰富的生活想最简单的道理。</p>
                        <div class="main-img-info">
                            <span class="date">DAY 321</span>
                            <img src="../images/photo_03.png" alt="photo">
                            <a class="author" href="#">BY 麦子老师3</a>  
                        </div>
                    </li>
                    <li class="index-img-item" target="_blank">
                        <a href="#" title=""><img src="../images/index-mainimg_pic.gif" alt="365图片"></a>
                        <p class="main-wz">想要拍出更好的照片，就要走得更远离得更近，<br>积累最丰富的生活想最简单的道理。</p>
                        <div class="main-img-info">
                            <span class="date">DAY 321</span>
                            <img src="../images/photo_03.png" alt="photo">
                            <a class="author" href="#">BY 麦子老师4</a>    
                        </div>
                    </li>
                </ul>
                <a href="#" title="previous" class="previous">previous</a>
                <a href="#" title="next" class="next">next</a>
            </div>
            <div class="mian_btn">
                <a href="#" title="" class="apply">申请内测</a>
                <span class="or">或者</span>
                <a href="news.html" title="" class="novelty" target="_blank">365新鲜事</a>
            </div>
        </div>
        <!--main结束-->
        <!--宣传开始-->
        <div class="publicity clearfix line">
            <dl>
                <dt class="publicity-title"><h2>记录你的365天</h2></dt>
                <dd><p>存放你的所思所想，所见所得，并能迅速的搜索到任何记忆。</p></dd>
            </dl>
            <dl>
                <dt class="publicity-title"><h2>发现大家的365天</h2></dt>
                <dd><p>存放你的所思所想，所见所得，并能迅速的搜索到任何记忆。</p></dd>
            </dl>
            <dl>
                <dt class="publicity-title"><h2>分享最美的365天</h2></dt>
                <dd><p>存放你的所思所想，所见所得，并能迅速的搜索到任何记忆。</p></dd>
            </dl>
        </div>
        <!--宣传结束-->
        
        <div class="footer-load"></div>
    </div>

    <div class="shade-apply j-apply">
        <a href="#" title="关闭" class="shade-close j-apply-close">x</a>
        <div class="shade-apply-box">
            <h2 class="clearfix">
                <div class="shade-apply-title">
                    <em>申请</em>365每天记<em>内测</em>
                </div>
                <span class="shade-apply-state">
                    使用合作账号登录<br />
                    使用合作账号登录使用合作账号登录使用合作账号登。<br />
                    使用合作账号登录使用合作账号登录使用合作账号登录。<br />
                </span>
            </h2>
            <div class="shade-apply-content">
                <form name="" target="" method="">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>你是否已经开始写365了？</td>
                            <td class="choose">
                                <label class="lab-sex"><input type="radio" name="writed" value="yes">是</label>
                                <label class="lab-sex"><input type="radio" name="writed" value="no">否</label>
                            </td>
                        </tr>
                        <tr class="choose-item">
                            <td><label for="address">365纪录地址</label></td>
                            <td><input type="text" id="address" class="apply-text"></td>
                        </tr>
                        <tr>
                            <td><label for="reason">申请理由</label></td>
                            <td><textarea id="reason" class="apply-reason"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="text" id="email" class="apply-text"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="#" title="写好了，提交申请" class="apply-present"></a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="shade-login j-login">
        <a href="#" title="关闭" class="shade-close j-login-close">x</a>
        <div class="shade-login-box">
            <h2><em>登录</em>365每天日记<span>使用合作账号登录</span></h2>
            <div class="shade-login-content">
                <a href="#" title="新浪登录" class="cooperation"><img src="../images/shade-login-sina.jpg" alt="新浪登录" height="50" width="47"></a>
                <a href="#" title="豆瓣登录" class="cooperation"><img src="../images/shade-login-dou.jpg" alt="豆瓣登录" height="50" width="47"></a>
                <div class="shade-login-wz">
                    <p>需要登陆才能继续操作哟~</p>
                    <p>365day还在内测中，点击<a href="#" title="申请365day内测">申请内测</a>。</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.10.1.min.js"></script>
    <script src="../js/temp-ajax-load.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>